<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>waroEng</title>
    <link rel="stylesheet" href="css/myStyle.css">
    <script src="js/jquery-3.6.1.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="flex-space-between">
        <div class="logo-nav">
            <img src="assets/waroEng3.png" alt="logoWaroeng">
        </div>
        <div class="menu-nav flex-item-center">
            <a class="item-a btn-nav" href="/index">Beranda</a>
            <a class="item-a btn-nav" href="/cart">Keranjang</a>
            <a class="item-a btn-nav btn-nav-active" href="/about">Tentang</a>
            <!-- <a class="item-a btn-nav btn-nav-masuk" href="login.html">Masuk</a> -->
            <div class="profil flex-content-center">
                <a class="item-a" href="#"><img class="profil-img" src="assets/profil.jpg" alt="profil"></a>
            </div>
        </div>
    </nav>
    <!-- Isi -->
    <div class="container">
        <h3 class="sub-title" style="margin-bottom: 25px;">Tentang Kami</h3>
        <div class="box-content-about flex-space-arround" style="flex-wrap: wrap; padding: 50px 20px; margin: 0px 20px;">
            <div class="box-content-middle" style="background-color: rgba(0,0,0,0); margin: 50px 0px;">
                <img class="foto-about" src="assets/waroEng4x.png" alt="logo">
            </div>
            <div class="box-content-big" style="background-color: rgba(0,0,0,0); padding: 20px;">
                <h2 class="headDesc">Nama Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;">waroEng</p>
                <h2 class="headDesc">Alamat Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;">Jln. Bungbulang No. 35 Cipadung Wetan RT 07 RW 08 Kec. Cihanjuang Kab. Banjarmasin Provinsi Sumatra Selatan </p>
                <h2 class="headDesc">Deskrpsi Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;">Toko ini merupakan toko mitra grosir dimana anda dapat membeli apapun yang anda inginkan dan yang anda mau jika anda ingin</p>
                <h2 class="headDesc">Email Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;">waroengtoko21@waroeng.com</p>
                <h2 class="headDesc">Nomor Telepon Toko</h2>
                <p class="bodyDesc" style="margin-bottom: 25px;">+62 814-6096-7389</p>
            </div>
            <h2 class="sub-title" style="margin: 20px auto; border-bottom: 3px solid #333; padding: 10px;">Gallery</h2>
            <div class="galery flex-space-arround">
                <div class="galery-item"></div>
                <div class="galery-item"></div>
                <div class="galery-item"></div>
                <div class="galery-item"></div>
            </div>
        </div>
    <footer>
        
    </footer>
</body>
</html>