<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>waroEng</title>
    <link rel="stylesheet" href="css/myStyle.css">
    <script src="js/jquery-3.6.1.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="flex-space-between">
        <div class="logo-nav">
            <img src="assets/waroEng3.png" alt="logoWaroeng">
        </div>
        <div class="menu-nav flex-item-center">
            <a class="item-a btn-nav" href="/index">Beranda</a>
            <a class="item-a btn-nav" href="/cart">Keranjang</a>
            <a class="item-a btn-nav" href="/about">Tentang</a>
            <div class="profil flex-content-center">
                <a class="item-a" href="#"><img class="profil-img" src="assets/profil.jpg" alt="profil"></a>
            </div>
        </div>
    </nav>
    <!-- Isi -->
    <div class="container">
        <div class="flex-item-center">
            <h2 class="sub-title">Produk Tersedia</h2>
            <div class="box-210 flex-space-arround">
                <p class="kategori-desc">/Sayuran</p>
                <p class="kategori-desc">/Sayur Bayam</p>
            </div>
        </div>
        <div class="content detail-cont">
            <div class="box-content-big">
                <div class="isi-box flex-space-between">
                    <div class="foto-box">
                        <div class="fotonya item1"></div>
                        <div class="mini-fotonya"></div>
                        <div class="mini-fotonya"></div>
                        <div class="mini-fotonya"></div>
                        <div class="mini-fotonya"></div>
                    </div>
                    <div class="content-box">
                        <h1 class="content-title">Sayur Bayam</h1>
                        <p class="bodyDesc" style="color: #878787; margin-top: 10px;">Rp. 5.000,- / Ikat</p>
                        <div style="margin: 30px 0;">
                            <p class="detail-desc">Kategori : <span style="font-weight: 400; color: #333;">Makanan</span></p>
                            <p class="detail-desc">Jenis : <span style="font-weight: 400; color: #333;">Sayuran</span></p>
                            <p class="detail-desc">Satuan : <span style="font-weight: 400; color: #333;">Ikat</span></p>
                            <p class="detail-desc">Jumlah : <span style="font-weight: 400; color: #333;">150</span></p>
                        </div>
                        <p class="detail-desc" style="color: #333; font-weight: 400;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis eu ligula non condimentum. Suspendisse dictum tellus odio, feugiat tincidunt lorem tempor rhoncus. Nulla facilisi. Nulla ac placerat magna.
                            Aliquam tincidunt ipsum fermentum, interdum neque sed, suscipit arcu. 
                            Etiam interdum ornare consequat. In consequat dapibus massa. 
                            Etiam scelerisque tortor non pharetra posuere. Morbi</p>
                    </div>
                </div>
            </div>
            <div class="box-content-middle" style="padding: 40px;">
                <form action="" method="post">
                    <h3 class="bodyDesc" style="font-weight: 500;">Atur Jumlah Beli</h3>
                    <input type="number" name="jumlahBeli" id="jumlahBeli" class="inp-number" >
                    <p class="p-14">Min. pembelian 1</p>
                    <div class="flex-space-between">
                        <p class="kategori-desc" style="font-weight: 400; margin: 25px 0; color: #878787;">Sub total</p>
                        <p class="kategori-desc" style="font-weight: 400; margin: 25px 0 30px 0;">Rp. 10.000,-</p>
                    </div>
                    <!-- <button type="submit" class="btn-submit-2">Beli</button> -->
                    <a href="#" class=" item-a btn-a-submit">Beli</a>
                </form>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>