<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>waroEng</title>
    <link rel="stylesheet" href="css/myStyle.css">
    <script src="js/jquery-3.6.1.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="flex-space-between">
        <div class="logo-nav">
            <img src="assets/waroEng3.png" alt="logoWaroeng">
        </div>
        <div class="menu-nav flex-item-center">
            <a class="item-a btn-nav" href="/index">Beranda</a>
            <a class="item-a btn-nav" href="/cart">Keranjang</a>
            <a class="item-a btn-nav" href="/about">Tentang</a>
            <div class="profil flex-content-center">
                <a class="item-a" href="#"><img class="profil-img" src="assets/profil.jpg" alt="profil"></a>
            </div>
        </div>
    </nav>
    <!-- Isi -->
    <div class="container">
        <div class="flex-item-center" style="margin-bottom: 25px;">
            <h2 class="sub-title">Daftar Pengambilan</h2>
        </div>
        <div class="box-content flex-space-arround" style="flex-wrap: wrap; padding: 50px 20px; margin: 0px 50px;">
            <div class="isi-detail-cart">
                <h3 class="tableTitle">ID Transaksi</h3>
                <p class="p-14 mt-b-333">TRXXXXXXXXXXXX</p>
            </div>
            <div class="isi-detail-cart">
                <h3 class="tableTitle">Tanggal Transaksi</h3>
                <p class="p-14 mt-b-333">Sabtu 22/10/2022</p>
            </div>
            <div class="isi-detail-cart flex-item-center box-rek">
                <h3 class="tableTitle">XXXXXXXXXXXXXXXX</h3>
            </div>
            <div class="isi-detail-cart">
                <a href="#" class="item-a btn-a-submit" style="padding: 13px 50px;">Lihat detail</a>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>