<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubah Password</title>
    <link rel="stylesheet" href="css/myStyle.css">
    <script src="js/jquery-3.6.1.js"></script>
</head>
<body>
    <div class="login-content flex-content-center">
        <div class="logo-login">
            <img src="assets/waroEng4x.png" alt="logoWaroEng">
        </div>
        <div class="box-login">
            <form action="submit">
                <h1 class="title-login">Ubah Password</h1>
                <div class="input-form flex-content-center">
                    <input class="inp-box" type="password" name="newPassword" id="newPassword" placeholder="Password">
                    <input class="inp-box" type="password" name="confirm" id="confirm" placeholder="Konfirmasi Password">
                </div>
                <div class="btn-form flex-space-arround">
                    <a href="login.html" class="btn-cancel item-a">Batal</a>
                    <button class="btn-submit" type="submit">Kirim</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>